# Project exclude paths
/venv/
/models/Model_003.h5
/models/Model_004.h5
/models/Model_001_nih.h5
/models/Model_002_nih.h5
/models/Model_003_nih.h5
/models/Model_005.h5
/models/Model_006.h5
/models/Model_007.h5
/models/Model_008.h5
/models/Model_009.h5
